body {
    font-family: Karla, sans-serif;
    color: #484848;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    background-color: #FF5A5f;
    margin: 0;
    padding: 0;
    height: 80px;
}

#logo {
    height: 80px;
}

nav {
    display: inline-block;
    float: right;
}
nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}

nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

nav a:visited {
    color: white;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    width: 900px;
    margin: auto;
}

section {
    padding: __px;
    border: 1px solid #cccccc;  
    margin-bottom: __px;
}

section img {
    width: __px;
}

h1 {
    font-size: __px;
    padding-top: __px;
    padding-bottom: __px;
}

h2 {
    font-size: __px;
}

section p {
    font-size: __px;
}