/* bayon-regular - khmer */
@font-face {
    font-family: 'Bayon';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bayon-v29-khmer-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/bayon-v29-khmer-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bayon-v29-khmer-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bayon-v29-khmer-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bayon-v29-khmer-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bayon-v29-khmer-regular.svg#Bayon') format('svg'); /* Legacy iOS */
  }

#bg-img, #video {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}


@media screen and (max-width: 1024px) { 
    #bg-img, #video {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }


#video.playing {
    opacity: 100%;
    transition: all 0.3s;
}

body {
    /*background-image: url("../img/sanFranSpring.jpg"); */
    background-size: cover;
}

body, html {
    height: 100%
}

.main-text-splash {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 40%;
    /* bring your own prefixes */
}

.main-text-splash #season-text {
    font-family: 'Bayon';
    color: white;
    font-size: 90px;
    letter-spacing: 3px;
    padding: 0;
    margin: 0;
    margin-bottom: -25px;
}

.nav-bar {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.button {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 18px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #1BCF64;
}

.button.spring {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 18px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #1BCF64;
    background: linear-gradient(to left, #1BCF64 50%, #D5A40B 50%) right;
    background-size: 200% 100%;
}

.button.fall {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 18px;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
    background-color: #1BCF64;
    background: linear-gradient(to left, #D5A40B 50%, #1BCF64 50%) right;
    background-size: 200% 100%;
}

#season:hover {
    background-position: left;
}

.button.play-spring {
    background: linear-gradient(to right, #1BCF64 50%, #FE0404 50%) left;
    background-size: 200% 100%;
}

.button.play-fall {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 40px;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 18px;
    color: white;
    transition: all 0.3s;
    background-color: #D5A40B;
    cursor: pointer;
    background: linear-gradient(to right, #D5A40B 50%, #FE0404 50%) left;
    background-size: 200% 100%;
}

.video-control {
    display: flex;
    position: fixed;
    margin: auto;
    bottom: 0;
    width: 30%;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    opacity: 0;
}

.noHover {
    pointer-events: none;
}

.video-control:hover {
    opacity: 1;
}

.button.pause {
    padding: 4px 8px;
    font-size: 14px;
    background-color:#FE0404;
}

.button.close {
    padding: 4px 8px;
    font-size: 14px;
    background-color:#FE0404;
}

.button.pause:hover{
    transform: scale(1.25);
}

.button.close:hover {
    transform: scale(1.25);
}

#play:hover {
    background-position: right;
}

#black-rectangle.darken {
    opacity: 100%;
    transition: all 0.5s;
}

#black-rectangle.lighten {
    opacity: 20%;
    transition: all 0.5s;
}

.partial-visible {
    opacity: 30%;
    transition: all 0.5s;
}

.visible {
    opacity: 100%;
    transition: all 0.5s;
}

.invisible {
    opacity: 0%;
    transition: all 0.5s;
}

.season-button:hover:before {
      width: 100%;
}

.movie-button {
    display: inline-block;
    white-space: nowrap;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Lato';
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.movie-button:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1BCF64;
    border-radius: 10rem;
    z-index: -2;
}
.movie-button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #FE0404;
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.movie-button:hover {
    color: #fff;
}
.movie-button:hover:before {
    width: 100%;
}

.movie-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1BCF64;
    border-radius: 10rem;
    z-index: -2;
  }

.movie-button:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#1BCF64, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }

.movie-button:hover {
    color: #fff;
    }

.movie-button:hover:before {
      width: 100%;
}


#black-rectangle {
    background-color: black;
    opacity: 20%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

