/* ADD ANY LINES OF CODE YOU DEEM NECESSARY FOR QUESTION 2*/

#ball {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fd6c2d;
    z-index: 1;
    transform: translateY(-200px);
    animation-name: ballBounce;
    animation-duration: 0.45s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.7, 0.5);
    animation-iteration-count: infinite;
}

#shadow {
    height: 50px;
    width: 160px;
    background: black;
    opacity: 0.5;
    border-radius: 50%;
    animation-name: shadowChange;
    animation-duration: 0.45s;
    animation-timing-function: cubic-bezier(0.42, 0, 0.7, 0.5);
    animation-iteration-count: infinite;
}

#ball, #shadow {
    position: relative;
    margin: 0 auto;
    top: 50%;
}

body, html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #f7f5f2;
    position: relative;
}

@keyframes ballBounce {
    0% {transform: translateY(-200px);}
    50% {transform: translateY(30px);}
    100% {transform: translateY(-200px);}
}

@keyframes shadowChange {
    0% {transform: scale(1);
        opacity: 0.5;}
    50% {transform: scale(0.5);
        opacity: 0.6;}
    100% {transform: scale(1);
        opacity: 0.5;}
}